.datatable-crud .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.datatable-crud {
  width: 100px;
  color: blue;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.datatable-crud .p-dialog {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}
.datatable-crud .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
