:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: rgba(245, 245, 245, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    padding: 0 !important;
    --primary-color: #003060;
    --second-color: rgb(4, 103, 159);
    --blue-color: #0E86D4;
    --scroll-color: rgba(6, 121, 178, 1);
    --color-line-hover: #098da8;
    --color-line: #004c47d1;
}

body .ui-clock {
    white-space: nowrap;
}

input::-webkit-datetime-edit {
    color: #777 !important;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

*::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
    height: 6px;
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da pista */

    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #ccc; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /*background: var(--scroll-color);*/
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


body {
    font-family: var(--font-family);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
    background: var(--color-line) !important;;
    color: white !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd:hover {
    background: var(--color-line-hover) !important;;
    color: white !important;
}

.p-datepicker-header button {
    padding: 0;
}
